{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class="card my-5 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 30rem;">
        <div class="card-body px-5">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Register">
            </form>
        </div>
    </div>

    <div class="row text-center">
        <p>Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Login</a></p>
    </div>
</div>

{% endblock %}
